@keyframes skeleton {
  0% {
      opacity: 0.3;
  }
  50% {
      opacity: 0.8;
  }
  100% {
      opacity: 0.3;
  }
}
@keyframes likeit {
  0% {
    transform: scale(1);  
  }
  40% {
    transform: scale(1.2);  
  }
  100% {
    transform: scale(1);  
  }
}
@keyframes containerIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes containerOut {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes cardIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes downToUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.main-view-transition-enter-active {
  animation: containerIn 0.3s;
}
.main-view-transition-leave-active {
  animation: containerOut 0.3s;
}
.dropdown-animation-enter-active {
  animation: containerIn 0.3s;
}
.dropdown-animation-leave-active {
  animation: containerIn 0.3s reverse;
}
.card-animation-enter-active {
  animation: cardIn 0.3s;
}
.card-animation-leave-active {
  animation: cardIn 0.3s reverse;
}
.opacity-enter-active {
  animation: opacityIn 0.3s;
}
.opacity-leave-active {
  animation: opacityIn 0.3s reverse;
}
.downtoup-enter-active {
  animation: downToUp 0.3s;
}
.downtoup-leave-active {
  animation: downToUp 0.3s reverse;
}